div {
    display: inline-block;
    text-align: center;
    margin: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .label {
    margin-top: 5px;
  }
  
  @media (min-width: 772px) {
    div {
      width: 45%;
    }
    img {
      max-height: 30vh;
    }
  }
  
  @media (min-width: 998px) {
    div {
      width: 30%;
    }
  }